/vendor
/node_modules
/.env
/.env.production
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
!/storage/app/public/.gitkeep
/public/build
/public/hot
/public/storage
.DS_Store
Thumbs.db
*.log
.phpunit.result.cache
.php-cs-fixer.cache
